h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
    font-size: 5vw;
}

body{
    background-color:black;
}

input{
    width:500px;
    height:50px;
    margin-bottom: 10px;
    border-radius: 10px;
}

hr{
    color:green;
    margin-bottom: 25px;
}

form {
    position: relative;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
}

.put{
    background-color:green;
    width:200px;
}

.imagediv{
    display: flex;
}

.commentssection{
    overflow: scroll;
    width: 500px;
    height: 150px;
}

.likessection
{
    display: flex;
}

.imgheart
{
    margin-left: 215px;
}

.NavBar{
    background-color: lightgreen;
}